{
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"printWidth": 105,
	"quoteProps": "consistent",
	"singleQuote": false,
	"trailingComma": "es5",
	"arrowParens": "always",
	"endOfLine": "lf"
}
